.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 16px 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  color: #2e2e2e;
}

.cart-container {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  
  right: 8px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}
.cart-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
